.body {
  display: flex;
  height: 199px;
  width: 400px;
  flex-direction: column;
  border-radius: 21px;
  padding-left: 25px;
  padding-top: 24px;
  padding-bottom: 13px;
  background-color: rgba(34, 34, 34, 0.75);
  color: rgba(255, 254, 254, 1);
  font-family: "Inter", sans-serif;
}
.nameCoordinate {
  display: flex;
  color: rgba(255, 254, 254, 1);
}
.info {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 68px;
  width: 158px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  gap: 0px;
}
.button {
  display: flex;
  margin-left: 3px;
  height: 68px;
  width: 116px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
}
